/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/
body {
  background-color: #F1EFE7 !important;
  color: black;
}
img {
  padding: 0; 
  margin: 0;
  display: block;
  width: 80%;
  margin-left: none;
  margin-right: auto;
}
#logo {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 140%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0%;
}
h3 {
  font-weight: 400 !important;
  font-size: 130% !important;
}
p {
  font-weight: 350 !important;
  font-size: 130% !important;
  margin-top: none;
  margin-bottom: 0% !important;
  line-height: 1.1;
}
textarea {
  width: 90%;
  background-color: #F1EFE7;
  border: none;
  padding: 0;
  font-weight: 300;
}
button {
  display: flex !important; 
  align-items: center !important; 
  justify-content: center !important;
  width: 50%;
  border-radius: 25px !important;
  text-align: center; 
  background-color: black !important;
  border: none !important;
  margin-left: 55% !important;
  height: 60% !important;
  margin-top: 8% !important;
}

.col-4 {
  padding: 0 !important;
  margin-left: 8%;
  border: none;
}
.col-6 {
  padding: 0 !important;
}
#menuItem {
  border-radius: 15px;
  margin-bottom: 20%;
  height: 120px;
}
#price {
  font-weight: 410;
  font-size: larger;
  margin-left: 10%;
  margin-top: 8% !important;
}
#cafelabel {
  font-family: Snell Roundhand;
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  text-align: center;
  border: none;
  width: 75%;
}
#cafereview {
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  text-align: center;
  width: 75%;
  margin-bottom: 20%;
}
